<% provide(:title, "Sign Up") %>
<body>
  <%= render 'layouts/header' %>
  <!--Logo-->
  <div class="row">
    <%= image_tag("logo.png", alt: "Waste Not Want Not",id: "home_img") %>
  </div>
  <br/>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <br/>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <!--link back to sign in-->
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 signup_center">
      <br>Already A Member?
        <%= link_to "Click here",   login_path %></br>
    </div>
  </div>
</div>
</body>
